{% extends "main_page/base.html" %}

{% block title %}Start{% endblock %}

{% block content %}

<div class="row">
  <div class="col-6 text-right">

    <form action="/start/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input type='hidden' name='code' class="form-control" value="clothing">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Clothing</button>
    </form>

  </div>
    <div class="col-6">

      <form action="/start/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type='hidden' name='code' class="form-control" value="shoes">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Shoes</button>
      </form>

    </div>



</div>







{% endblock %}

